@model EmailMessageViewModel

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Me</h1>

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("~/Views/Shared/_EmailTemplatePartial.cshtml", Model)
    </div>
</div>

