@model EmailMessageViewModel

<form asp-controller="Home" asp-action="SendEmail" method="post">
    <input type="hidden" asp-for="RedirectUrl" />
    <div class="mb-3">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" asp-for="FirstName">
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" asp-for="LastName">
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="inputPhone" asp-for="Phone">
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" asp-for="EmailAddress">
        <span class="text-danger" asp-validation-for="EmailAddress"></span>
    </div>
    <div class="mb-3">
        <label for="inputMessage" class="form-label">Message</label>
        <textarea class="form-control" id="inputMessage" rows="3" asp-for="Message"></textarea>
        <span class="text-danger" asp-validation-for="Message"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
